html{
    max-width: 1920px;
    font-family: 'Roboto';
}

body{
    background-color: red;
}

#content{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(105,105,105,0.65);
}

#imgContainer{
    display: flex;
}

.edge {
    background-color: rgb(236, 222, 222);
}

.grass{
    background-color: #81C784;
}

.fire{
    background-color: #FF7F5E;
}

.water{
    background-color: #64B3FF;
}

.bug{
    background-color: #B0C04E;
}

.normal{
    background-color: #F66C6D;
}

.poison{
    background-color: #A065FC;
}

.electric{
    background-color: #FFD700;
}

.ground{
    background-color: #C2A18C;
}

.fairy{
    background-color: #FFC8C8;
}

.fighting{
    background-color: #C74040;
}

.psychic{
    background-color: #F48FB3;
}

.rock{
    background-color: #8C8B8A;
}

.ghost{
    background-color: #8180BE;
}

#imgContainer{
    width:auto;
    height: 200px;
}

.card img{
    width: 140px;
    height: auto;
    filter: drop-shadow(3px 3px 3px rgb(40, 39, 39));

}

.card img:hover{
    filter: drop-shadow(5px 5px 5px rgb(58, 57, 57));
}

.overlay{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.36);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardBig{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 450px;
    height: 650px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    background-image: url(img/Pokeball-PNG-Free-Download.png);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: 240% -12%;
}

#bigCardImg{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    filter: drop-shadow(3px 3px 3px rgb(40, 39, 39));
}

.bigCardImg{
    width: 220px;
}

#test{
    height: 60%;
    border-radius: 19px;
    background-color: white;
}

/* .progress-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;

} */

.progress-container span {
    width: 100px; /* Größe der Beschriftung */
    margin-right: 10px; /* Abstand zur Progressbar */
    font-size: 17px;
}

.progress{
    flex-grow: 1;
    height: 20px;
}

#info{
    height: 100%;
    display: block;
}

#stats{
    width: 100%;
}

#d-none{
    display: none; 
}

#footer{
    background-color: rgba(105, 105, 105, 0.65);
}

.spinner-wrapper{
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}